<% status = ["Active", "Inactive", "Closed"] %>

<%= form_for @milestone, :html => { :class => "form-horizontal milestone" } do |f| %>

    <% if @milestone.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @milestone.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@milestone[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@milestone[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_date, :class => 'form-control' %>
    </div>
    <%= error_span(@milestone[:start_date]) %>
  </div>
  <div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_date, :class => 'form-control' %>
    </div>
    <%= error_span(@milestone[:end_date]) %>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :status, options_for_select(status, status[0]), :class => 'form-control' %>
    </div>
    <%= error_span(@milestone[:status]) %>
  </div>

  <br>
  <br>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            milestones_path, :class => 'btn btn-default' %>

<% end %>
